<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Exploring countries</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../public/output.css" th:href=@{~/public/output.css}
    rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <!-- Place favicon.ico in the root directory -->
  </head>
  <body class="bg-very-light-gray" hx-boost="true">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <header
      class="w-screen bg-white h-20 flex flex-row shadow-md place-content-center"
    >
      <div
        class="flex-1 max-w-screen-xl h-20 flex flex-row justify-between items-center px-4"
      >
        <h1 class="grow font-bold md:text-2xl">Where in the world?</h1>
        <div class="flex flex-row gap-x-2">
          <img
            src="../public/icons/half-moon-shape-svgrepo-com.svg"
            class="w-4"
            alt=""
          />
          <p>Dark Mode</p>
        </div>
      </div>
    </header>
    <nav
      class="flex flex-col md:flex-row px-6 my-4 justify-around h-48 md:h-32 md:items-center"
    >
      <form
        method="get"
        id="search-country"
        action=""
        hx-get="/country"
        hx-target="body"
        hx-push-url="true"
        class="md:w-1/4"
      >
        <div class="flex flex-row bg-white shadow-md h-14 rounded-lg md:w-full">
          <!-- <p class="w-16 grid place-content-center">IC</p> -->
          <img
            src="../public/icons/search-svgrepo-com.svg"
            th:src="@{~/public/icons/search-svgrepo-com.svg}"
            class="w-6 mx-5"
            alt=""
          />
          <input
            class="appearance-none flex-grow focus:outline-none mr-2"
            type="text"
            id="country-name-input"
            name="countryName"
            list="country-names-list"
            placeholder="Search for a country..."
          />
        </div>
        <datalist id="country-names-list">
          <option
            th:each="country : ${allCountriesList}"
            th:value="${country.name}"
            value=""
          ></option>
        </datalist>
      </form>
      <form>
        <select
          name="region"
          class="block w-62 mt-1 h-12 w-64 bg-white shadow-lg rounded-md shadow-sm focus:outline-none px-7"
          hx-get="/countries-cards"
          hx-target="#countries-main-list"
        >
          <option
            value=""
            selected
            disabled
            th:selected="${#strings.isEmpty(selectedRegion)}"
          >
            Filter by Region
          </option>
          <option
            th:each="region: ${regionsSet}"
            th:value="${region}"
            th:text="${region}"
            th:selected="${selectedRegion == region}"
            value="Africa"
          >
            Africa
          </option>
          <option th:remove="all" value="Americas">Americas</option>
          <option th:remove="all" value="Asia">Asia</option>
          <option th:remove="all" value="Europe">Europe</option>
          <option th:remove="all" value="Oceania">Oceania</option>
        </select>
      </form>
    </nav>
    <main
      class="flex flex-col items-center gap-10 pb-8 md:grid md:grid-cols-[repeat(auto-fill,_275px)] md:px-20 md:justify-around"
      id="countries-main-list"
    >
      <article
        th:fragment="cards-of-countries (countriesList)"
        th:each="country : ${countriesList}"
        id="germany"
        th:id="${country.alpha3Code}"
        class="bg-white h-[350px] w-[275px] border flex flex-col rounded-lg shadow-lg"
      >
        <a href="" th:href="@{~/country(countryName=${country.name})}">
          <img
            src="https://flagcdn.com/de.svg"
            th:src="${country.flag}"
            alt="flag of Germany"
            th:alt="|flag of ${country.name}|"
            class="rounded-t-lg max-h-60"
          />
          <section class="p-8 space-y-3">
            <h2 class="text-2xl font-bold" th:text="${country.name}">
              Germany
            </h2>
            <dl class="space-y-1">
              <div class="flex">
                <dt class="font-bold mr-2">Population:</dt>
                <dd
                  th:text="${#numbers.formatInteger(country.population, 3, 'COMMA')}"
                >
                  81,771,900
                </dd>
              </div>
              <div class="flex">
                <dt class="font-bold mr-2">Region:</dt>
                <dd th:text="${country.region}">Europe</dd>
              </div>
              <div class="flex">
                <dt class="font-bold mr-2">Capital:</dt>
                <dd th:text="${country.capital}">Berlin</dd>
              </div>
            </dl>
          </section>
        </a>
      </article>
      <div
        th:fragment="infiniteScrollAnchor (nextPage, selectedRegion)"
        th:if="${nextPage != -1}"
        id="next-page-anchor"
        hx-trigger="revealed"
        th:hx-get="@{~/countries-cards(region=${selectedRegion},page=${nextPage})}"
        hx-swap="outerHTML"
      ></div>

      <article
        id="usa"
        class="bg-white h-[350px] w-[275px] border flex flex-col rounded-lg shadow-lg"
        th:remove="all"
      >
        <img
          src="https://flagcdn.com/us.svg"
          alt="flag of the USA"
          class="rounded-t-lg"
        />
        <section class="p-8 space-y-3">
          <h2 class="text-2xl font-bold">United States of America</h2>
          <dl class="space-y-1">
            <div class="flex">
              <dt class="font-bold mr-2">Population:</dt>
              <dd>329,484,123</dd>
            </div>
            <div class="flex">
              <dt class="font-bold mr-2">Region:</dt>
              <dd>Americas</dd>
            </div>
            <div class="flex">
              <dt class="font-bold mr-2">Capital:</dt>
              <dd>Washington, D.C.</dd>
            </div>
          </dl>
        </section>
      </article>

      <article
        id="Brazil"
        class="bg-white h-[350px] w-[275px] border flex flex-col rounded-lg shadow-lg"
        th:remove="all"
      >
        <img
          src="https://flagcdn.com/br.svg"
          alt="flag of Germany"
          class="rounded-t-lg"
        />
        <section class="p-8 space-y-3">
          <h2 class="text-2xl font-bold">Brazil</h2>
          <dl class="space-y-1">
            <div class="flex">
              <dt class="font-bold mr-2">Population:</dt>
              <dd>212,559,409</dd>
            </div>
            <div class="flex">
              <dt class="font-bold mr-2">Region:</dt>
              <dd>Americas</dd>
            </div>
            <div class="flex">
              <dt class="font-bold mr-2">Capital:</dt>
              <dd>Brasília</dd>
            </div>
          </dl>
        </section>
      </article>
    </main>
  </body>
</html>
