@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/public/fonts/nunito-sans/NunitoSans-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/public/fonts/nunito-sans/NunitoSans-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/public/fonts/nunito-sans/NunitoSans-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}
