@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45% 44%);
}

/* div, p, h1, h2 { */
/*     outline: 1px solid red; */
/* } */
